<form id="login" method="POST">
    <input type="email" name="name" value="" placeholder="tu email">
    <br><br>
    <input type="password" name="password" value="" placeholder="tu contrasenia">
    <br><br>
    <input type="submit" value="Login">
</form>

<script type="text/javascript">
    const formLogin = document.querySelector('#login')
    const formData = new FormData(formLogin)

    formLogin.addEventListener('submit', event =>{
        event.preventDefault();
        fetch('/api/signin',{
            method: 'POST',
            body: formData
        })
        .then(res => res.json())
        .then(data => {
            localStorage.setItem('token', data.token)
        })
    })

</script>